* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../Checkout/background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

header {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 2.188rem;
    padding-bottom: 0.313rem;
    box-shadow: 0 0.5px 40px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    background-image: url('../Checkout/background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.home_icon {
    width: 2.188rem;
    height: 2.313rem;
}

/* home modal */
.cancelbtn,
.deletebtn {
    border: 0;
    float: left;
    width: 50%;
    padding-top: 2.313rem;
    background-color: white;
    font-size: 2.25rem;
    font-weight: lighter;
}

.cancelbtn {
    color: black;
    padding-left: 7rem;
}

.deletebtn {
    color: #FF1818;
    padding-right: 7rem;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    transition: 600ms;
}

.modal .modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border-radius: 20px;
    width: 37.5rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home modal */

.cart_icon {
    width: 2.188rem;
    height: 2.313rem;
}

/* Shopping cart modal */
.shop-cart .container button {
    background: none;
    border: none;

    margin-left: 17rem;
    margin-top: 1.5rem;
}

.shop-cart .container h2 {
    font-size: 2rem;
    font-style: italic;
    margin: 2.3rem 0;
    padding-right: 18.5rem;
}

.shop-cart .container h1 {
    font-size: 2.75rem;
    width: 15rem;
    margin: -1.25rem 0 3rem 2.3rem;
}

.shop-cart .container p {
    font-size: 1.75rem;
    width: 18rem;
    margin: 0 1.3rem;
}

.shop-cart .container ul {
    width: 17rem;
    margin: 2.3rem;
    padding-left: 2.5rem;
    font-size: 1.25rem;
    text-align: left;
}

.shop-cart .container li {
    margin-bottom: 1.5rem;
}

.shop-cart {
    display: none;
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 600ms;
}

.shop-cart .modal-content {
    float: right;
    background-color: white;
    border-radius: 10px;
    width: 28rem;
    height: 100%;
    padding-left: 4.5rem;
}

/* Shopping cart modal */

.small-nav {
    display: none;
}

.small-nav h1 {
    text-align: center;
    font-size: 2.25rem;
}

.close {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12.5rem;
    margin-top: 8.625rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.55rem;
}

.current {
    font-weight: bold;
}

.previous:hover {
    text-decoration: underline;
}

nav .line {
    display: inline;
    width: 8.75rem;
    border: 1px solid #000;
    position: absolute;
    margin: 10px 0 0 1.563rem;
}

main {
    padding: 3rem 12rem;
    margin-bottom: 1rem;
}

.date-selection,
.time-selection {
    margin-bottom: 20px;
    width: 100%;
    gap: 1rem;
    display: inline-flex;
    align-items: center;
}

.date-selection h2,
.time-selection h2 {
    font-size: 1.75rem;
    font-weight: lighter;
}

.date-options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 62.75rem;
    height: 8.125rem;
    background-color: #fff;
    border-radius: 20px;
}

.date-option {
    font-size: 1.25rem;
    font-weight: lighter;
    width: 13.125rem;
    height: 8.125rem;
    border-radius: 20px;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(212, 212, 212, 1);
    transition: all 0.3s ease;
}

.day {
    font-size: 1.75rem;
    font-weight: lighter;
}

hr {
    border: 0.25rem solid #D9D9D9;
    margin: 0.625rem 0;
}

.time-options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 62.75rem;
    height: 2.688rem;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 0.5rem;
    border: 1px solid rgba(212, 212, 212, 1);
}

.time-option {
    font-size: 1.25rem;
    font-weight: lighter;
    width: 20rem;
    height: 2.61rem;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #fff;
}

.time-option p {
    margin-top: 5px;
}

.time-icon {
    width: 1.563rem;
    height: 1.563rem;
}

.time {
    font-weight: lighter;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.morning {
    padding: 0 10rem;
    display: block;
}

.afternoon {
    padding: 0 10rem;
    display: none;
}

.evening {
    padding: 0 10rem;
    display: none;
}

.time-slot {
    height: 4rem;
    width: 63rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1.938rem;
}

.time-slot.active,
.date-option.active,
.time-option.active {
    border: 1px solid rgba(255, 183, 116, 1);
    background-color: rgba(255, 183, 116, 0.15);
}

.time-slot:hover,
.date-option:hover,
.time-option:hover {
    border: 1px solid rgba(255, 183, 116, 1);
}

.time-zone {
    font-size: 1.75rem;
}

.window {
    font-size: 1.5;
    color: rgba(0, 0, 0, 0.7);
}

.price {
    font-size: 1.65rem;
    color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
    border-top: 2px solid #E56E00;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 4.5rem;
    bottom: 0;
}

footer h2 {
    font-size: 2rem;
    font-weight: 300;
}

footer .btn {
    background-color: #FDE5C2;
    width: 4.75rem;
    height: 2.45rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    margin: 0 3.5rem 0 3.5rem;
}

footer .btn:hover {
    background-color: white;
    border: 1.5px solid #FDE5C2;
}