* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 2.6rem;
    font-weight: 400;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center; /* Center the content horizontally */
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center; 
    align-items: end;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.home_icon {
    width: 35px;
    height: 37px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-top: 35px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.55rem;
}
.current {
    text-decoration: underline;
}

.line {
    display: inline-block;
    width: 140px;
    height: 0px;
    border: 1px solid #000;
    position: absolute;
    top: 130px;
    left: 50%;
    margin-left: -250px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.plan-card {
    background: linear-gradient(to bottom, #eef2db 0%, #ffffff 96%);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 17.375rem;
    height: 30.688rem;
    margin: 10px;
    text-align: center;
}

.plan-card a {
    text-decoration: none;
    color: #000;
}

.plan-card h2 {
    font-size: 1.75rem;
    opacity: 70%;
    font-weight: 400;
    margin-bottom: 10px;
}

.plan-card ul {
    list-style-type: disc;
    margin: 10px 0;
    text-align: left;
    padding-left: 20px;
}

.plan-card li {
    margin-bottom: 5px;
}

.plan-card .total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1.5rem;
    margin: 0;
}
