/* Media query for iphone */
@media (max-width: 768px) {

    main,
    .date-options,
    .time-options {
        flex-direction: column;
        width: 100%;
    }

    main {
        padding: 1rem;
    }

    body {
        background-size: cover;
    }

    .small-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        width: 100%;
    }

    .small-nav h1 {
        font-size: 2.25rem;
    }

    .close,
    .open {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    .close .bord,
    .open .bord {
        border-top: 1.25px solid black;
        width: 13.5rem;
    }

    .close button,
    .open button {
        width: 81px;
        height: auto;
        border-top: 0 !important;
        border: 1px solid black;
        background: none;
        cursor: pointer;
    }

    .large-nav {
        display: none;
    }

    nav {
        margin-bottom: 8%;
    }

    nav ul {
        display: block;
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 0;
    }

    nav li {
        margin-bottom: 0;
        text-align: center;
    }

    nav a {
        text-decoration: none;
        font-size: 1.75rem;
    }

    nav .line,
    nav a::after {
        display: none;
    }

    nav a::after {
        content: '↓';
        display: block;
        text-align: center;
        margin-top: 0.2rem;
        font-size: 1.2rem;
        color: #000;
    }

    nav li:last-child a::after {
        content: none;
    }

    nav .current a {
        font-weight: bold;
    }

    header {
        flex-direction: row;
        align-items: center;
        padding-top: 2.5rem;
    }

    .header-container {
        font-size: 2rem;
    }

    footer {
        --footer-height: 45px;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: auto;
        right: auto;
        padding: 10px;
    }

    footer .btn {
        margin: 10px 0;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1002;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
    }

    .modal .modal-content {
        padding: 20px;
        width: 20rem !important;
        height: 13.75rem !important;
        margin: 40% auto !important;
    }

    .modal .container {
        font-size: 0.5rem !important;
        padding-right: 10%;
    }

    .modal .container h1 {
        font-size: 2.25rem;
        padding-left: 1rem !important;
    }

    .deletebtn,
    .cancelbtn {
        margin-top: 10%;
        width: 15%;
        padding-top: 10px;
        font-size: 1.5rem;
        padding-left: 2rem !important;
    }

    .close-icon {
        margin-right: 10px;
        margin-left: -30px;
        margin-top: -50px;
    }

    .shop-cart .modal-content {
        padding: 20px;
        width: 15rem !important;
    }

    .shop-cart .container button {
        margin-left: 12rem;
        margin-top: 1.5rem;
    }
    
    .shop-cart .container h2 {
        font-size: 1.75rem;
    }
    
    .shop-cart .container h1 {
        font-size: 2.25rem;
        width: 15rem;
        margin: -0.5rem 0 3rem -1rem;
    }
    
    .shop-cart .container p {
        font-size: 1.5rem;
        width: 12rem;
        margin: 1.3rem;
    }
    
    .shop-cart .container ul {
        width: 11.2rem;
        margin: 1.3rem;
        font-size: 1rem;
    }

    .price,
    .window {
        font-size: 0.9rem;
    }
}